@charset "UTF-8";

#informationCw { width: 100%; }

.mImg { display: none; }

#infoTitleBg { width: 100%; height: 300px; position: relative;
              background: url(../images/infoTitle.png) no-repeat center / cover; }
#infoTitleBg::after { content: ""; position: absolute; top: 0; left: 0;
                      width: 100%; height: 100%;
                      background: rgba(0, 0, 0, 0.4); }
#infoTitleBg span { position: absolute; left: -9999px; }
#infoTitleBg h2 { font-size: 60px; color: #fff;
                  position: relative; z-index: 9;
                  text-align: center; line-height: 300px; }

#infoTitle { width: 1200px; height: 150px; margin: 0 auto; position: relative; }

#infoList { display: flex; justify-content: space-between; width: 500px;
            position: absolute; top: 70px; left: calc(50% - 250px); }
#infoList li { margin: 0 30px; }
#infoList li a { font-size: 20px; color: #000; }
#infoList li a.on { color: #d30f70; }

#infoWrap1 { position: relative; width: 100%;
              margin: 80px auto 100px; }

#cwWrap { display: flex; }

.cwInfo1 { width: 40%; order: 1;
            margin: 50px auto 0; }
.cwInfo1 h3 { font-size: 48px; margin-bottom: 50px; }
.cwInfo1 h3::after { content: ""; position: absolute;
                    width: 15px; height: 15px; background: #d30f70; }
.cwInfo1 p { margin: 0 0 30px; }

.pcImg1 { width: 900px; height: 600px; }

.infoBg { width: 1310px; height: 300px; margin: 0 auto 100px;
          background: url(../images/subBg.png) no-repeat center / 100%; }
.infoBg span.hTitle { position: absolute; left: -9999px; }

#infoHistory { display: none; }

#infoWrap2 { width: 100%; margin: 50px auto 200px; }
#infoWrap2 p { margin: 10px 0 0; }

.pcImg2 { width: 100%; height: 300px;
          background: url(../images/subCw2.png) no-repeat center / cover; }

.cwInfo2 { width: 55%; margin: 100px auto 0; }

.cwInfo3 { width: 55%; margin: 80px auto 0; }


@media screen and ( max-width: 1720px ) {
  .cwInfo1 { width: 35%; margin: 30px auto 0; }

  .pcImg1 { width: 850px; height: 550px; }

  .infoBg { width: 1200px; }
}


@media screen and ( max-width: 1500px ) {
  #infoTitle { width: 1000px; }

  #infoWrap1 { margin: 80px auto 0; }

  .cwInfo1 { margin: 60px auto 0; }
  .cwInfo1 h3 { font-size: 36px; }
  .cwInfo1 h3::after { width: 12px; height: 12px; }
  .cwInfo1 p { font-size: 15px; }

  .pcImg1 { width: 700px; height: 400px; }

  .infoBg { width: 1050px; margin: 50px auto; }

  #infoWrap2 { width: 100%; margin: 50px auto 150px; }
  #infoWrap2 p { font-size: 15px; }

  .pcImg2 { height: 280px; }

  .cwInfo2 { width: 55%; margin: 80px auto 0; }

  .cwInfo3 { width: 55%; margin: 50px auto 0; }
}


@media screen and (max-width: 1200px) {
  .pcImg1 { display: none; }
  .mImg { display: block; }

  #infoTitleBg { height: 200px; }
  #infoTitleBg h2 { line-height: 200px; font-size: 48px; }

  #infoTitle { width: 800px; }

  #infoList { top: 60px; left: calc(50% - 220px); width: 440px; }
  #infoList li a { font-size: 18px; color: #000; }

  #infoWrap1 { margin: 50px auto 0; }

  #cwWrap { flex-flow: column; width: 800px; margin: 0 auto; }

  .cwInfo1 { width: 85%; }
  .cwInfo1 h3 { margin-bottom: 40px; }
  .cwInfo1 p { margin: 0 0 20px; }

  .infoBg { width: 900px; }

  .pcImg2 { height: 250px; }

  .cwInfo2 { width: 600px; }
  .cwInfo3 { width: 600px; }

}


@media screen and (max-width: 980px) {
  #infoTitle { width: 600px; }

  #infoList { width: 360px; left: calc(50% - 180px); }
  #infoList li { margin: 0 20px; }

  #cwWrap { width: 600px; }

  .cwInfo1 h3 { width: 100%; text-align: center; font-size: 30px; }
  .cwInfo1 p { font-size: 14px; }

  .infoBg { width: 90%; margin: 0 auto 50px; }

  #infoWrap2 p { font-size: 14px; }

  .pcImg2 { height: 200px; }

  .cwInfo2 { width: 550px; }
  .cwInfo3 { width: 550px; }
}


@media screen and (max-width: 730px) {
  #infoTitle { width: 100%; }

  #infoList li a { font-size: 16px; }

  #cwWrap { width: 75%; }
  .cwInfo1 { width: 90%; }

  .infoBg { background-image: none;
            width: 65%; margin: 80px auto; }

  #infoHistory { display: block; }
  #infoHistory li { line-height: 40px; font-size: 14px; }
  #infoHistory li span.history { color: #888; }
  #infoHistory li::before { content: "● "; color: #d30f70; font-size: 10px; }
  #infoHistory li:nth-child(2n)::before { color: #000; }

  #infoWrap2 { }

  .cwInfo2 { width: 80%; }
  .cwInfo3 { width: 80%; }
}


@media screen and (max-width: 500px) {
  #infoList { width: 100%; left: 0; justify-content: space-evenly; }

  .cwInfo1 h3 { font-size: 28px; }

  #infoHistory li { line-height: 30px; font-size: 12px; }
  #infoHistory li::before { font-size: 6px; }

  .infoBg { margin: 60px auto 80px; }

  .pcImg2 { height: 150px; }

}
